@mixin mobile {
  @media screen and (max-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

.home {
  // background: #979696;
  margin: 1rem;
 
  // justify-content: center;
  height: auto;
  h1 {
    font-family: "Fauna One";
    margin-bottom: 1rem;
    @include mobile {
      font-size: 1rem;
    }
  }
  .header {
    img {
      width: 40vw;
      height: 80vh;
      @include mobile {
        width: 90vw;
      }
    }
  }
.post_con{
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
}
  .posts {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // width: 90%;
    // height: auto;
    // max-height: 600px;
    // background: #dfdede;
    // box-shadow: 0px 22px 35px rgba(0, 0, 0, 0.24);
    border-radius: 15px;
    padding: 2rem;
    margin: 20px;
    border: 2px solid rgb(65, 63, 63);
    background: black;
    // text-wrap: wrap;
    @include mobile {
      width: 60vw;
    }
    // .title {
    //   display: flex;
    //   justify-content: center;
    //   width: 100%;
    //   .header {
    //     flex: 50%;
    //   }
    // }
    h3 {
      @include mobile {
        margin-top: 0.8rem;
        font-size: 1rem;
        font-family: "Fauna One";
      }
    }
  }
}


